html {
    scroll-padding-top: 80px;
    height: 100%;
}

ol {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1px;
}

ol>li {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    min-height: 100px;
    overflow-y: auto;
}

@media (min-width: 992px) {

    ol {
        grid-template-columns: repeat(7, 1fr);
        height: calc(100dvh - 68px);
    }

    ol>li {
        min-height: auto;
    }
}

.highlight {
    transform: rotateY(360deg);
    transition: 2s linear;
    z-index: 9999;
}