/* ---------------------------------------- */

html {
    scroll-padding-top: 80px;
    height: 100%;
}

ol {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1px;
}

ol>li {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    min-height: 100px;
    overflow-y: auto;
}

.highlight {
    transform: rotateY(360deg);
    transition: 2s linear;
    z-index: 9999;
}

@media (min-width: 992px) {

    ol {
        grid-template-columns: repeat(7, 1fr);
        height: calc(100dvh - 68px);
    }

    ol>li {
        min-height: auto;
    }
}

/* ---------------------------------------- */
/* Crossfade animation between two elements */

.crossfade {
    position: relative;
    display: inline-block;
    line-height: 1;
}

.crossfade .element {
    inset: 0;
    transition: opacity 0.6s ease;
    white-space: nowrap;
}

/* start visible */
.crossfade .one {
    opacity: 1;
    animation: fadeOut 1.2s ease forwards;
    animation-delay: 0.5s;
}

/* start hidden, fade in */
.crossfade .two {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 1.7s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ---------------------------------------- */
