<?php

declare(strict_types=1);

return [
    'authentication' => [
        'redirect' => '/app-login',
        'pdo'      => [
            'dsn'             => 'mysql:host=127.0.0.1;port=3306;dbname=mydbname',
            'username'        => 'developer1',
            'password'        => 'db12db1',
            'table'           => 'tajo1_user',
            'field'           => [
                'identity' => 'user_name',
                'password' => 'user_password',
            ],
            'sql_get_roles'   => 'SELECT user_role FROM tajo1_user WHERE user_name = :identity',
            'sql_get_details' => 'SELECT user_email FROM tajo1_user WHERE user_name = :identity',
        ],
    ],
];